USE [master]
GO
/****** Object:  Database [OnlineEducation]    Script Date: 7/21/2021 5:52:05 PM ******/
CREATE DATABASE [OnlineEducation]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OnlineEducation', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\OnlineEducation.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'OnlineEducation_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\OnlineEducation_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OnlineEducation].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OnlineEducation]
GO
/****** Object:  Table [dbo].[Active]    Script Date: 7/21/2021 5:52:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Active](
	[ActiveID] [varchar](255) NOT NULL,
	[Code] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ActiveID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Category]    Script Date: 7/21/2021 5:52:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](255) NULL,
 CONSTRAINT [PK__Category__19093A2BAF0417B2] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Chapter]    Script Date: 7/21/2021 5:52:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Chapter](
	[ChapterID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Title] [nvarchar](255) NULL,
	[Course_ID] [varchar](255) NOT NULL,
 CONSTRAINT [PK__Chapter__0893A34A1F31FCE0] PRIMARY KEY CLUSTERED 
(
	[ChapterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Course]    Script Date: 7/21/2021 5:52:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Course](
	[CourseID] [varchar](255) NOT NULL,
	[CourseName] [nvarchar](255) NOT NULL,
	[CategoryCourse] [int] NOT NULL,
	[CreateDate] [date] NOT NULL,
	[Teacher_ID] [int] NULL,
	[Active_ID] [varchar](255) NULL,
	[Price] [nvarchar](100) NULL,
	[Image_url] [nvarchar](100) NULL,
 CONSTRAINT [PK__Course__C92D7187ADF2490B] PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Description]    Script Date: 7/21/2021 5:52:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Description](
	[DescID] [int] IDENTITY(1,1) NOT NULL,
	[DescriptonTitle] [varchar](255) NULL,
	[Description] [ntext] NULL,
	[Course_ID] [varchar](255) NOT NULL,
 CONSTRAINT [PK__Descript__EB54354949CF0B54] PRIMARY KEY CLUSTERED 
(
	[DescID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MyCourse]    Script Date: 7/21/2021 5:52:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MyCourse](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[User_ID] [int] NOT NULL,
	[Course_ID] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Order]    Script Date: 7/21/2021 5:52:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[User_ID] [int] NOT NULL,
	[Course_ID] [varchar](255) NOT NULL,
	[toEmail] [varchar](255) NOT NULL,
	[toPhone] [varchar](255) NOT NULL,
	[Status] [varchar](255) NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Rating]    Script Date: 7/21/2021 5:52:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Rating](
	[RatingID] [int] IDENTITY(1,1) NOT NULL,
	[User_ID] [int] NULL,
	[Course_ID] [varchar](255) NULL,
	[Score] [int] NULL,
 CONSTRAINT [PK_Rating] PRIMARY KEY CLUSTERED 
(
	[RatingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Role]    Script Date: 7/21/2021 5:52:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Teacher]    Script Date: 7/21/2021 5:52:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Teacher](
	[TeacherID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NULL,
	[Age] [varchar](255) NULL,
	[Url_Image] [varchar](255) NULL,
	[Description] [ntext] NULL,
 CONSTRAINT [PK__Teacher__EDF2594470E63594] PRIMARY KEY CLUSTERED 
(
	[TeacherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[User]    Script Date: 7/21/2021 5:52:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](255) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[FullName] [nvarchar](255) NULL,
	[Email] [varchar](255) NULL,
	[PhoneNumber] [varchar](255) NULL,
	[Role_ID] [int] NOT NULL,
	[Image_url] [varchar](255) NULL,
 CONSTRAINT [PK__User__1788CCACA190895C] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Video]    Script Date: 7/21/2021 5:52:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Video](
	[VideoID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NULL,
	[Video_url] [varchar](255) NULL,
	[Chapter_ID] [int] NOT NULL,
 CONSTRAINT [PK__Video__BAE5124AACB304F4] PRIMARY KEY CLUSTERED 
(
	[VideoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryID], [CategoryName]) VALUES (1, N'Lập Trình ')
INSERT [dbo].[Category] ([CategoryID], [CategoryName]) VALUES (2, N'Ngoại Ngữ')
INSERT [dbo].[Category] ([CategoryID], [CategoryName]) VALUES (3, N'Nhiếp ảnh, Dựng Phim')
SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[Chapter] ON 

INSERT [dbo].[Chapter] ([ChapterID], [Name], [Title], [Course_ID]) VALUES (2, N'Chương 1', N'Giới thiệu về ngôn ngữ lập trình C', N'LTC01')
INSERT [dbo].[Chapter] ([ChapterID], [Name], [Title], [Course_ID]) VALUES (6, N'Chương 2', N'Cấu trúc điều khiển & rẽ nhánh', N'LTC01')
INSERT [dbo].[Chapter] ([ChapterID], [Name], [Title], [Course_ID]) VALUES (8, N'Chương 3', N'Hàm trong C', N'LTC01')
SET IDENTITY_INSERT [dbo].[Chapter] OFF
INSERT [dbo].[Course] ([CourseID], [CourseName], [CategoryCourse], [CreateDate], [Teacher_ID], [Active_ID], [Price], [Image_url]) VALUES (N'LTC01', N'Lập trình C/C++', 1, CAST(N'2021-07-02' AS Date), 1, NULL, N'200.000', N'kh1.jpg')
INSERT [dbo].[Course] ([CourseID], [CourseName], [CategoryCourse], [CreateDate], [Teacher_ID], [Active_ID], [Price], [Image_url]) VALUES (N'LTCS', N'Lập trình C#', 1, CAST(N'2021-07-02' AS Date), 3, NULL, N'500.000', N'kh2.jpg')
INSERT [dbo].[Course] ([CourseID], [CourseName], [CategoryCourse], [CreateDate], [Teacher_ID], [Active_ID], [Price], [Image_url]) VALUES (N'LTCS01', N'Lập trình web với C#', 1, CAST(N'2021-07-02' AS Date), 6, NULL, N'299.000', N'kh3.jpg')
SET IDENTITY_INSERT [dbo].[Description] ON 

INSERT [dbo].[Description] ([DescID], [DescriptonTitle], [Description], [Course_ID]) VALUES (1, N'Learn', N'Có kiến thức nền tảng vững chắc về ngôn ngữ C/C++ thông qua những kiến thức lý thuyết', N'LTC01')
INSERT [dbo].[Description] ([DescID], [DescriptonTitle], [Description], [Course_ID]) VALUES (3, N'Learn', N'Kiến thức lập trình đủ để xây dựng phần mềm từ ý tưởng đến thành phẩm hoàn thiện', N'LTC01')
INSERT [dbo].[Description] ([DescID], [DescriptonTitle], [Description], [Course_ID]) VALUES (4, N'Learn', N'Biết sử dụng kỹ thuật đệ quy để giải quyết bài toán phức tạp.', N'LTC01')
SET IDENTITY_INSERT [dbo].[Description] OFF
SET IDENTITY_INSERT [dbo].[MyCourse] ON 

INSERT [dbo].[MyCourse] ([ID], [User_ID], [Course_ID]) VALUES (2, 2, N'LTC01')
INSERT [dbo].[MyCourse] ([ID], [User_ID], [Course_ID]) VALUES (3, 2, N'LTCS')
INSERT [dbo].[MyCourse] ([ID], [User_ID], [Course_ID]) VALUES (4, 2, N'LTWeb')
SET IDENTITY_INSERT [dbo].[MyCourse] OFF
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderID], [User_ID], [Course_ID], [toEmail], [toPhone], [Status]) VALUES (1, 2, N'LTCS01', N'cuongnguyenmanh3008@gmail.com', N'123456789', N'verify')
INSERT [dbo].[Order] ([OrderID], [User_ID], [Course_ID], [toEmail], [toPhone], [Status]) VALUES (2, 5, N'LTPT01', N'haiphuong@gmail.com', N'123456789', N'verify')
INSERT [dbo].[Order] ([OrderID], [User_ID], [Course_ID], [toEmail], [toPhone], [Status]) VALUES (3, 9, N'LTJ01', N'nguyenaliasbn@gmail.com', N'0981284020', N'verify')
SET IDENTITY_INSERT [dbo].[Order] OFF
SET IDENTITY_INSERT [dbo].[Rating] ON 

INSERT [dbo].[Rating] ([RatingID], [User_ID], [Course_ID], [Score]) VALUES (1, 2, N'LTC01', 2)
INSERT [dbo].[Rating] ([RatingID], [User_ID], [Course_ID], [Score]) VALUES (2, 4, N'LTC01', 3)
INSERT [dbo].[Rating] ([RatingID], [User_ID], [Course_ID], [Score]) VALUES (3, 5, N'LTC01', 4)
SET IDENTITY_INSERT [dbo].[Rating] OFF
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (2, N'Customer')
SET IDENTITY_INSERT [dbo].[Role] OFF
SET IDENTITY_INSERT [dbo].[Teacher] ON 

INSERT [dbo].[Teacher] ([TeacherID], [Name], [Age], [Url_Image], [Description]) VALUES (1, N'Sir Alex  Ferguson', NULL, N'sir_alex.jpg', N'Sir Alexander Chapman "Alex" Ferguson CBE là một cựu cầu thủ và huấn luyện viên bóng đá người Scotland. Trong vòng 31 năm, ông đã giúp Manchester United trở thành câu lạc bộ bóng đá vĩ đại nhất lịch sử nước Anh với 20 lần vô địch giải quốc nội. ')
INSERT [dbo].[Teacher] ([TeacherID], [Name], [Age], [Url_Image], [Description]) VALUES (2, N'Elon Musk', NULL, N'Elon_Musk.jpg', N'Elon Reeve Musk FRS, là một kỹ sư, nhà tài phiệt, nhà phát minh, doanh nhân công nghệ và nhà từ thiện Người Mỹ gốc Nam Phi. Ông cũng là công dân mang hai quốc tịch Nam Phi và Canada. ')
INSERT [dbo].[Teacher] ([TeacherID], [Name], [Age], [Url_Image], [Description]) VALUES (3, N'Jeff Bezos', NULL, N'Jeff_Bezos.jpg', N'Jeffrey Preston Bezos là doanh nhân, nhà tư bản công nghiệp, chủ sở hữu truyền thông và nhà đầu tư người Mỹ. Bezos được biết đến như là người sáng lập, CEO và chủ tịch của công ty công nghệ đa quốc gia Amazon.')
SET IDENTITY_INSERT [dbo].[Teacher] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [Username], [Password], [FullName], [Email], [PhoneNumber], [Role_ID], [Image_url]) VALUES (2, N'cuongnm', N'manhcuong1', N'Nguyễn Mạnh Cường', N'cuongnguyenmanh3008@gmail.com', N'123456789', 1, NULL)
INSERT [dbo].[User] ([UserID], [Username], [Password], [FullName], [Email], [PhoneNumber], [Role_ID], [Image_url]) VALUES (4, N'chienpd', N'chienphan', N'Nguyễn Đức Chiến', N'chienphan@gmail.com', N'0123456789', 2, NULL)
INSERT [dbo].[User] ([UserID], [Username], [Password], [FullName], [Email], [PhoneNumber], [Role_ID], [Image_url]) VALUES (5, N'haiphuong', N'haiphuong', N'Nguyễn Hải Phương', N'haiphuong@gmail.com', N'123456789', 2, NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
SET IDENTITY_INSERT [dbo].[Video] ON 

INSERT [dbo].[Video] ([VideoID], [Title], [Video_url], [Chapter_ID]) VALUES (1, N'Giới thiệu khóa học', N'https://www.youtube.com/embed/ILr_rU-lISk', 2)
INSERT [dbo].[Video] ([VideoID], [Title], [Video_url], [Chapter_ID]) VALUES (2, N'Biến và hằng trong C', N'https://www.youtube.com/embed/q8UGqw6Cbnk', 2)
INSERT [dbo].[Video] ([VideoID], [Title], [Video_url], [Chapter_ID]) VALUES (3, N'Các kiểu dữ liệu trong C', N'https://www.youtube.com/embed/jtS7g65zrWU', 2)
SET IDENTITY_INSERT [dbo].[Video] OFF
ALTER TABLE [dbo].[Chapter]  WITH CHECK ADD  CONSTRAINT [FKChapter917126] FOREIGN KEY([Course_ID])
REFERENCES [dbo].[Course] ([CourseID])
GO
ALTER TABLE [dbo].[Chapter] CHECK CONSTRAINT [FKChapter917126]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Course_Category] FOREIGN KEY([CategoryCourse])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Course_Category]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FKCourse287810] FOREIGN KEY([Teacher_ID])
REFERENCES [dbo].[Teacher] ([TeacherID])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FKCourse287810]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FKCourse310436] FOREIGN KEY([Active_ID])
REFERENCES [dbo].[Active] ([ActiveID])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FKCourse310436]
GO
ALTER TABLE [dbo].[Description]  WITH CHECK ADD  CONSTRAINT [FKDescriptio705554] FOREIGN KEY([Course_ID])
REFERENCES [dbo].[Course] ([CourseID])
GO
ALTER TABLE [dbo].[Description] CHECK CONSTRAINT [FKDescriptio705554]
GO
ALTER TABLE [dbo].[MyCourse]  WITH CHECK ADD  CONSTRAINT [FKMyCourse150142] FOREIGN KEY([Course_ID])
REFERENCES [dbo].[Course] ([CourseID])
GO
ALTER TABLE [dbo].[MyCourse] CHECK CONSTRAINT [FKMyCourse150142]
GO
ALTER TABLE [dbo].[MyCourse]  WITH CHECK ADD  CONSTRAINT [FKMyCourse531829] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[MyCourse] CHECK CONSTRAINT [FKMyCourse531829]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK__Order__Course_ID__45F365D3] FOREIGN KEY([Course_ID])
REFERENCES [dbo].[Course] ([CourseID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK__Order__Course_ID__45F365D3]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK__Order__User_ID__44FF419A] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK__Order__User_ID__44FF419A]
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD FOREIGN KEY([Course_ID])
REFERENCES [dbo].[Course] ([CourseID])
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FKUser187275] FOREIGN KEY([Role_ID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FKUser187275]
GO
ALTER TABLE [dbo].[Video]  WITH CHECK ADD  CONSTRAINT [FKVideo491000] FOREIGN KEY([Chapter_ID])
REFERENCES [dbo].[Chapter] ([ChapterID])
GO
ALTER TABLE [dbo].[Video] CHECK CONSTRAINT [FKVideo491000]
GO
USE [master]
GO
