
@{
    ViewBag.Title = "Video";
    Layout = "~/Views/Shared/Admin_LayoutPage.cshtml";
}

<div class="header-2">Thêm Khoá Học</div>
<nav>
    <ul style=" margin-top: 0; margin-bottom: 1rem; display: flex; justify-content: space-around; font-size: 16px; text-transform: uppercase;">
        <li>
            <a href="/AddCourse/Index">THÔNG TIN KHOÁ HỌC </a>
        </li>
        <li>
            <a href="/AddCourse/Desc">Miêu Tả Khoá Học </a>
        </li>
        <li>
            <a href="/AddCourse/Chapter">Chương Khoá Học </a>
        </li>
        <li>
            <a href="/AddCourse/Video">VIDEO KHOÁ HỌC </a>
        </li>
    </ul>
</nav>
<div class="tab4 ">
    <div class="header-2">TẢI LÊN VIDEO VÀ TIÊU ĐỀ MỖI KHOÁ HỌC</div>
    <div class="contentBx">
        <div class="accordion-item-header">
            Chương 1
        </div>
        <div class="accordion-item-body">
            <div class="accordion-item-body-content" style="flex-wrap: wrap; border: none;">
                <h5>Bài 1:</h5>
                <input type="text" style="width: 100%; height: 60px; padding-left: 10px; margin: 5px; font-size: 20px;" placeholder="Input Title">
                <input type="text" style="width: 100%; height: 60px; padding-left: 10px; margin: 5px; font-size: 20px; " placeholder="Link Video">
                <button type="button" class="btn-primary profile-button " style="margin: 5px; width: 100%;">Lưu</button>
            </div>
        </div>
        <div class="accordion-item-header">
            Chương 2
        </div>
        <div class="accordion-item-body">
            <div class="accordion-item-body-content" style="flex-wrap: wrap; border: none;">
                <h5>Bài 1:</h5>
                <input type="text" style="width: 100%; height: 60px; padding-left: 10px; margin: 5px; font-size: 20px;" placeholder="Input Title">
                <input type="text" style="width: 100%; height: 60px; padding-left: 10px; margin: 5px; font-size: 20px; " placeholder="Link Video">
                <button type="button" class="btn-primary profile-button " style="margin: 5px; width: 100%;">Lưu</button>
            </div>
            <div class="accordion-item-body-content" style="flex-wrap: wrap; border: none;">
                <h5>Bài 2:</h5>
                <input type="text" style="width: 100%; height: 60px; padding-left: 10px; margin: 5px; font-size: 20px;" placeholder="Input Title">
                <input type="text" style="width: 100%; height: 60px; padding-left: 10px; margin: 5px; font-size: 20px; " placeholder="Link Video">
                <button type="button" class="btn-primary profile-button " style="margin: 5px; width: 100%;">Lưu</button>
            </div>
        </div>
    </div>
</div>
