
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <style>
        body {
            background-color: white;
        }
        
        #wapper-contact{
            width: 960px;
            margin: 150px auto;
            color: #3b5b8c;
            font-family: 'Times New Roman', Times, serif;
            font-size: 18px;
        }
            #wapper-contact .info-text {
                font-family: 'Times New Roman', Times, serif;
                line-height:2;
                font-size: 16px;
            }
        h3 {
            color: #100881;
            font-family: 'Times New Roman', Times, serif;
            line-height: 2;
            font-size: 28px;
        }
        .map{
            padding-top:50px;
        }
    </style>
    <div id="wapper-contact">
        <div class="contacct">
            <h3 class="title-info">Thông tin liên hệ</h3>
            <p class="info-text ">Admin: Nguyễn Mạnh Cường </p>
            <p class="info-text ">Địa chỉ: Gia Bình, Bắc Ninh, Việt Nam </p>
            <p class="info-text ">Thành Phố: Bắc Ninh </p>
            <p class="info-text ">Quốc gia: Việt Nam </p>
            <p class="info-text ">SĐT: 0393556120 </p>
            <p class="info-text ">Email: Cuongnmhe1401375@fpt.edu.vn<a href=""></a></p>
        </div>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59527.30506834611!2d106.0426163922781!3d21.17401439535188!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31350c5b3464ae51%3A0x1a3035b9749102f9!2zVHAuIELhuq9jIE5pbmgsIELhuq9jIE5pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1623862884388!5m2!1svi!2s" width="900" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>






