
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
<link href="~/Content/css/ActiveSuccsess.css" rel="stylesheet" />


<div id="wapper-success">
    <div class="card">
        <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
            <i class="checkmark">✓</i>
        </div>
        <h1>Mua khóa học thành công</h1>
        <p style="line-height:1.5;">Mã kích hoạt khóa học đã được gửi vào gmail của bạn.<br> Vui lòng kiểm tra gmail để lấy mã kích hoạt!</p>
        <a id="buttonOK" href="/Profile/ActiveCourse">Ok</a>
    </div>

</div>
  

